/* BODY */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(#0f766e, #d1d5db);
  padding-bottom: 90px;
}

/* HEADER */
.header {
  background: linear-gradient(to right, #065f46, #0f766e);
  color: white;
  padding: 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-weight: bold;
}

.title {
  font-size: 20px;
}

.left, .right {
  width: 60px;
  text-align: center;
}

/* CONTAINER */
.container {
  padding: 15px;
}

/* CARD */
.card {
  background: #f9fafb;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 20px;
  position: relative;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

/* BADGE */
.badge {
  position: absolute;
  top: -8px;
  left: 12px;
  background: linear-gradient(to right, #fbbf24, #f59e0b);
  padding: 6px 14px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 13px;
  color: white;
  z-index: 2;
}

/* TOP */
.top {
  display: flex;
  gap: 12px;
}

/* IMAGE */
.imageBox {
  width: 38%;
}

.imageBox img {
  width: 100%;
  height: 110px;
  object-fit: cover;
  border-radius: 14px;
}

/* INFO */
.info {
  width: 62%;
}

.info p {
  display: flex;
  justify-content: space-between;
  margin: 6px 0;
  font-size: 13px;
  border-bottom: 1px solid #e5e7eb;
  padding-bottom: 4px;
}

.info p:last-child {
  border-bottom: none;
}

/* ICON STYLE (LEFT OF TEXT) */
.info p span:first-child {
  color: #065f46;
}

/* GREEN VALUES */
.green {
  color: #047857;
  font-weight: bold;
}

/* FOOTER */
.footer {
  display: flex;
  margin-top: 15px;
  border-radius: 25px;
  overflow: hidden;
}

/* PRICE */
.price {
  flex: 1;
  background: linear-gradient(to right, #065f46, #0f766e);
  color: white;

  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
  font-size: 14px;
}

/* BUTTON */
button {
  flex: 1;
  background: linear-gradient(to right, #f59e0b, #fbbf24);
  border: none;
  color: white;

  height: 42px;
  font-weight: bold;
  font-size: 14px;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* BOTTOM NAV */
.bottom-nav {
  position: fixed;
  bottom: 10px;
  left: 10px;
  right: 10px;

  background: #f3f4f6;
  border-radius: 25px;
  padding: 12px;

  display: flex;
  justify-content: space-around;

  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
}

.bottom-nav a {
  text-decoration: none;
  color: #6b7280;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-nav a.active {
  color: #065f46;
  font-weight: bold;
  }
